body {
  background-color: #eeecda;
}

header {
    margin: -22px -8px auto -8px;
    background-color: #1dd3bd;
    height: 65px;
    
    box-shadow: 1px 2px #87d4c5;
}

header h1 {
    padding-top: 20px;
    padding-left: 8px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 25px;
    color: white;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    
}

footer p {
    color: #84a9ac;
    font-size: 15PX;
}

.createArea {
        

    background-color: white;
    border-radius: 7px;
    margin: 10px auto auto auto;
    padding: 15px;
    width: 300px;
    height: 100px;
}

form input, textarea {
    border: none;
    font-family: 'Nanum Gothic', sans-serif;
    padding-top: 10px;
    font-size: 16px;
    outline: none;
    resize: none;
    width: 100%;
}

form button {
    position: relative;
    
    left: 280px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 60%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: #1dd3bd;
    color: white;

}


.note {
    margin: 20px;
    float: left;
    background-color: white;
    width: 240px;
    border-radius: 7px;
    font-family: 'Nanum Gothic', sans-serif;
}

.note h2 {
    padding-top: 10px;
    padding-left: 5px;
     font-size: 15px;         
     font-weight: bold;
}

.note p{
    font-size: 13px;         
    padding-bottom: 8px;
    padding-left: 5px;
    word-wrap: break-word;
    
}

.note button {
    border: none;
    outline: none;
    background-color: #1dd3bd;
    font-family: 'Nanum Gothic', sans-serif;
    border-radius: 3px;
    margin-left: 165px;   
    color: white;
    cursor: pointer;

}